# Forbid "val" usage for type inference
lombok.val.flagUsage=error
# Only use @Slf4j to log
lombok.log.log4j.flagUsage=error
lombok.log.log4j2.flagUsage=error
lombok.log.xslf4j.flagUsage=error
lombok.log.apacheCommons.flagUsage=error
lombok.log.javaUtilLogging.flagUsage=error
# Override the Logger field name
lombok.log.fieldName=LOGGER
# JaCoCo / SONAR
lombok.addLombokGeneratedAnnotation=true
# Since lombok 1.16.20 to keep annotating @ConstructorProperties for Jackson
lombok.anyConstructor.addConstructorProperties=true